.contact-wrapper {
	.contact-image {
		position: relative;
		margin-left: -26px;

		img {
			@include imgw;
		}

		.shape-1 {
			position: absolute;
			left: 16%;
			top: 27%;
		}

		.shape-2 {
			position: absolute;
			left: 2%;
			top: 45%;
			z-index: -1;
		}
	}

	.contact-from-items {
		margin-left: 40px;

		@include breakpoint(max-xl) {
			margin-left: 0;
		}

		h4 {
			font-weight: 400;
			margin-top: 12px;
			color: $text-color;
			text-transform: capitalize;
		}

		.contact-from-area {
			margin-top: 50px;

			.form-clt {
				position: relative;

				.icon {
					position: absolute;
					top: 18px;
					left: 0;

					@include breakpoint(max-sm) {
						display: none;
					}

					i {
						color: $header-color;
					}
				}

				input,
				textarea {
					width: 100%;
					outline: none;
					border-radius: 0;
					border: none;
					padding: 20px 30px;
					background-color: transparent;
					font-weight: 500;
					font-size: 20px;
					color: rgba(102, 108, 120, 0.8);
					border-bottom: 1px solid $border-color;
					@include transition;

					@include breakpoint(max-sm) {
						padding: 15px 20px;
					}

					&::placeholder {
						color: $text-color;
					}

					&:hover {
						border-bottom: 1px solid $header-color;
					}
				}

				textarea {
					padding: 20px 30px 110px;
				}
			}
		}
	}
}

.contact-info-area {
	padding: 100px 0;
	@include flex;
	justify-content: space-between;
	border-bottom: 1px solid #32353f;

	@include breakpoint(max-xl) {
		flex-wrap: wrap;
		gap: 40px;
		padding-top: 85px;
		justify-content: initial;
	}

	@include breakpoint(max-sm) {
		gap: 30px;
	}

	.contact-info-items {
		@include flex;
		gap: 28px;
		justify-content: space-between;
		position: relative;

		@include breakpoint(max-xl) {
			flex-wrap: wrap;
		}

		.icon {
			width: 90px;
			height: 90px;
			line-height: 48px;
			text-align: center;
			background: #2d313b;
			padding: 22px;
		}

		.content {
			p {
				color: $white;
				margin-bottom: 5px;
				font-size: 20px;
				color: #bbbfcb;
			}

			h3 {
				font-size: 24px;
				color: $white;

				a {
					color: $white;
				}
			}
		}
	}
}

.contact-us-wrapper-2 {
	.contact-us-area {
		margin-top: 40px;

		.contact-us-items {
			margin-bottom: 40px;
			@include flex;
			gap: 28px;

			.icon {
				width: 90px;
				height: 90px;
				line-height: 100px;
				background-color: $theme-color;
				text-align: center;

				i {
					font-size: 40px;
					color: $white;
				}
			}

			.content {
				flex-basis: 80%;

				p {
					font-size: 20px;
					color: #bbbfcb;
					margin-bottom: 5px;
				}

				h3 {
					font-size: 24px;
					text-transform: uppercase;

					a {
						color: $white;
					}
				}
			}
		}
	}
}

.contact-section-2 {
	position: relative;

	.track-image {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;

		img {
			@include imgw;
		}
	}
}

//Contact Section
.contact-info-content {
	.contact-info-item {
		.icon {
			background: #eaeaea;
			width: 120px;
			height: 120px;
			margin: 0 auto 20px;
			transition: all 0.4s;
			i {
				font-size: 34px;
				color: $black;
			}
			@include breakpoint(max-xl) {
				width: 80px;
				height: 80px;
				margin: 0 auto 10px;
				i {
					font-size: 24px;
				}
			}
			@include breakpoint(max-sm) {
				width: 60px;
				height: 60px;
				margin: 0 auto 10px;
				i {
					font-size: 20px;
				}
			}
		}
		&:hover {
			.icon {
				background: $theme-color;
			}
		}
	}
}
.general-inquriest {
	background: #18181b;
	padding: 100px 100px;
	position: relative;
	z-index: 1;
	.inque-ele {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
	.frm-grp {
		textarea,
		input {
			border: unset;
			outline: none;
			font-size: 16px;
			padding: 16px 30px;
			border-radius: 4px;
			color: $white;
			background: #2f2f32;
			width: 100%;
			&::placeholder {
				color: rgb(255, 255, 255, 0.4);
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 60px 60px;
	}
	@include breakpoint(max-lg) {
		padding: 40px 24px;
		.frm-grp {
			textarea,
			input {
				font-size: 16px;
				padding: 16px 18px;
			}
		}
	}
}
//Contact Section
