.vedio-area {
	padding: 300px 0;
	background-attachment: fixed;
	position: relative;
}

.play-btn {
	.video-btn {
		width: 160px;
		height: 110px;
		line-height: 110px;
		text-align: center;
		background-color: $white;
		color: $header-color;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 30px;
		transform: translate(-50%, -50%);
	}
}

//book-table-section
.book-table-section {
	.container {
		max-width: 1550px;
		margin: 0 auto;
	}
	.book-table-wrap {
		padding: 90px 90px;
		position: relative;
		z-index: 1;
		transform: translateY(160px);
		h3 {
			font-size: 36px;
		}
		.nice-select {
			border: 1px solid #ff905c;
			padding: 10px 17px;
			&::after {
				right: 19px;
				top: 50%;
				border-color: #fff;
				border-bottom: 2px solid #fff;
				border-right: 2px solid #fff;
			}
			.current {
				font-size: 14px;
				color: $white;
			}
			.list {
				li {
					border-color: #ff905c;
					padding: 5px 10px;
					color: $white;
					font-size: 13px;
					font-weight: 500;
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		.book-table-wrap {
			padding: 60px 30px;
			h3 {
				font-size: 26px;
				list-style: 22px !important;
			}
		}
	}
	@include breakpoint(max-sm) {
		.book-table-wrap {
			padding: 40px 24px;
			h3 {
				font-size: 26px;
				list-style: 22px !important;
			}
		}
	}
}


.menu-tabbing-area {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	.nav-item {
		.nav-link {
			padding: 10px 24px;
			border: 1px solid $black;
			font-size: 18px;
			font-weight: 700;
			color: $black;
			text-align: center;
			border-radius: 100px;
			transition: all 0.4s;
			&.active,
			&:hover {
				background: $theme-color-2;
				color: $white;
				border-color: $theme-color-2;
			}
		}
	}
	@include breakpoint(max-xxl) {
		gap: 10px 16px;
		.nav-item {
			.nav-link {
				padding: 8px 16px;
				font-size: 16px;
			}
		}
	}
}
