//Mozzo end
//Blog Section
.blog-single-item {
	.blog-admin {
		margin-bottom: 22px;
		li {
			font-size: 14px;
			font-weight: 500;
			color: $black;
		}
	}
}
//Blog Section



//Mozzo end

//Blog Details
.quote-text {
	position: relative;
	border-left: 4px solid $theme-color;
	padding: 40px 40px;
	background: #ecf3ff;
	color: $black2;
	.quote-icons {
		position: absolute;
		right: 24px;
		bottom: 24px;
		font-size: 36px;
		color: $theme-color;
	}
	@include breakpoint(max-xs) {
		padding: 24px 19px;
		.quote-icons {
			display: none;
		}
	}
}
.tips-inner {
	display: flex;
	align-items: center;
	gap: 34px;
	@include breakpoint(max-xxl) {
		gap: 16px;
	}
	@include breakpoint(max-xl) {
		flex-wrap: wrap;
	}
}

.taging-share {
	border-top: 1px solid #e6e8ec;
	border-bottom: 1px solid #e6e8ec;
	padding: 20px 0;
	.details-tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		li {
			a {
				font-size: 14px;
				font-weight: 500;
				color: $black2;
				display: inline-block;
				text-align: center;
				padding: 8px 14px;
				background: #ecf3ff;
				border-radius: 8px;
				&:hover {
					background: $theme-color;
				}
			}
		}
	}
}

.perker-author {
	display: flex;
	align-items: center;
	gap: 28px;
	background: #f3f7fc;
	padding: 34px 36px;
	@include breakpoint(max-xs) {
		gap: 16px;
		flex-wrap: wrap;
		padding: 30px 20px;
	}
}
.post-comment {
	background: #f3f7fc;
	padding: 40px 40px;
	border-radius: 10px;
	.post-grp{
		textarea,
		input {
			width: 100%;
			outline: none;
			padding: 11px 16px;
			color: #7c8392;
			border-radius: 8px;
			border: 1px solid #cfd9e5;
			background: $white;
			font-size: 14px;
			&::placeholder {
				color: #7c8392;
			}
		}
	}
	@include breakpoint(max-md){
		padding: 30px 20px;
	}
}

