//Testimonial
.testimonial-wrapper1 {
	position: relative;
	&::before {
		position: absolute;
		right: 0;
		top: -45px;
		width: 85%;
		height: 340px;
		content: "";
		background-color: #fef9f8;
		border-radius: 20px;
		z-index: -1;
	}
	.swiper-dot {
		position: absolute;
		right: 170px;
		bottom: 70px;
		left: initial;
		width: initial;
	}
	@include breakpoint(max-xxl) {
		.swiper-dot {
			position: absolute;
			right: 50px;
			bottom: 70px;
			left: initial;
			width: initial;
		}
	}
	@include breakpoint(max-xl) {
		.swiper-dot {
			position: absolute;
			right: initial;
			bottom: -45px;
			left: 0;
			width: 100%;
		}
	}
}
.testimonial-items {
	position: relative;
	&.style1 {
		gap: 70px;
		.quote-icon {
			position: absolute;
			bottom: -10px;
			right: 200px;
			width: 100px;
			z-index: -1;
		}
		@include breakpoint(max-xl) {
			gap: 18px 16px;
		}
	}
}
//Testimonial


//Common Testimonial Btn
.common-slide-btn {
	width: 80px;
	height: 80px;
	border: 1px solid $theme-color;
	i {
		font-size: 29px;
		color: $black;
	}
	&:hover {
		background: $theme-color;
		i {
			color: $black;
		}
	}
	transition: all 0.4s;
	i {
		transition: all 0.4s;
	}
}
.swiper-pagination-total {
	color: $black;
}
//Common Testimonial Btn
